sbt.sh

.cache
.classpath
.idea
.project
.target
.settings

logs
project/*
!project/build.properties
!project/Build.scala
!project/plugins.sbt
target

src/main/resources/*
!src/main/resources/.gitkeep
!src/main/resources/linnaeus.tar.lzma
!src/main/resources/abner.tar.lzma
!src/main/resources/wsdl
!src/main/resources/xsd
