*.sh
*.class
*.cache

logs
target
project/*
!project/build.properties
!project/Build.scala
!project/plugins.sbt

src/main/resources/*
!src/main/resources/conf
!src/main/resources/linnaeus.tar.lzma
!src/main/resources/abner.tar.lzma
!src/main/resources/wsdl
!src/main/resources/xsd

.idea
