.document-panel {
    margin-top : 2em;
}

.document-panel .section-title {
    font-weight: bold;
}

.document-panel .year {
    margin-top: 3px;
    margin-bottom: 10px;
}

.document-panel .authors {
    margin-top: 10px;
    margin-bottom: 10px;
}

.document-panel .content {
    margin-top: 10px;
    margin-bottom: 3px;
}

.document-panel .content span ,
.document-panel .authors span {
    line-height : 1.8em;
    white-space : pre-wrap;
}

.document-panel .content p {
    line-height : 1.8em;
    white-space : pre-wrap;
    text-align  : justify;
}

.document-panel .annotation {
    margin  : 0 0.25em;
    padding : 0 0.25em;
}

.document-panel .annotation:hover {
    cursor          : pointer;
    text-decoration : none;
}
