@media(min-height : 200px) {
    .home-logo h1 a {
        display         : block;
        height          : 57px;
        max-width       : 407px;
        margin          : 0 auto;
        background      : url("../img/logo-small.png") no-repeat center bottom;
        background-size : contain;
    }
}

@media(min-height: 400px) {
    .home-logo h1 a {
        display         : block;
        height          : 179px;
        max-width       : 425px;
        margin          : 0 auto;
        background      : url("../img/logo-big.png") no-repeat center bottom;
        background-size : contain;
    }
}

@media(min-height : 200px) { .home-container { margin-top :  1em; } }
@media(min-height : 400px) { .home-container { margin-top :  5em; } }
@media(min-height : 600px) { .home-container { margin-top : 10em; } }

.home-logo img {
    height    : auto;
    max-width : 90%;
}

@media(max-height : 200px) { .home-search { margin-top :     0; } }
@media(min-height : 200px) { .home-search { margin-top : 1.5em; } }

.home-search .input-group, .home-search .alert {
    width  : 95%;
    margin : 0 auto;
}
