.document-panel {
    margin-top : 2em;
}

.document-panel .panel-body p {
    line-height : 1.8em;
    text-align  : justify;
}

.document-panel .annotation {
    color   : #fff;
    padding : 0 0.5em;
}

.document-panel .annotation:hover {
    cursor          : pointer;
    text-decoration : none;
}
