<div class="row home-container">
    <div class="col-xs-12">
        <div class="row">
            <div class="home-logo">
                <h1 class="text-hide"><a href="" data-ng-click="go('/')">SmartDrugSearch</span></a></h1>
            </div>
        </div>
        <div class="row home-search">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <form accept-charset="UTF-8" role="search" data-ng-controller="SearchController" data-ng-enter="search()" novalidate>
                    <div class="input-group input-group-lg">
                        <input type="search" class="form-control" data-ng-model="terms" autofocus>
                        <div class="input-group-btn">
                            <button class="btn btn-danger" type="button" data-ng-click="search()">
                                <span class="fa fa-search fa-lg"></span> 
                            </button>
                        </div>
                    </div>
                    <div class="adv-search">
                        <div class="adv-search-link">
                            <p class="text-right">
                                <a class="btn" role="button" data-toggle="collapse" href="#adv-search-inputs" aria-expanded="false" aria-controls="adv-search-inputs">
                                    Advanced Search
                                </a>
                            </p>
                        </div>
                        <div class="collapse" id="adv-search-inputs">
                            <div class="form-group col-xs-12">
                                <label for="categories-input">Only include categories: </label>
                                <tags-input data-ng-model="selectedTagCategories" placeholder="Add some categories">
                                    <auto-complete source="categoryAutoComplete($query)" min-length="0" load-on-focus="true" load-on-empty="true"></auto-complete>
                                </tags-input>
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="from-year-input">From year: </label>
                                <select id="from-year-input" class="form-control" data-ng-model="fromYear" data-ng-options="year for year in years">
                                </select>
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="to-year-input">To year: </label>
                                <select id="to-year-input" class="form-control" data-ng-model="toYear" data-ng-options="year for year in years">
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <div data-ng-include src='"assets/html/errorMessage.html"'></div>
            </div>
        </div>
    </div>
</div>
